<header>
  <div>
    <a href="/">Mi sitio con <i>Eleventy</i></a>
    <nav class="menu">
      <a href="/">Inicio</a></li>
      <a href="/acerca">Acerca</a>
      <a href="/blog">Blog</a>
    </nav>
  </div>
</header>
