<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}">
  <link rel="icon" href="/img/favicon.png">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  {% include "header.njk" %}
  <main>
    {{ content | safe }}
  </main>
  <hr>
  <aside>
    <h2>Categorías</h2>
    <h3>Libros</h3>
    <ul>
      {% for article in collections.libros %}
        <li>
          <a href="{{article.url}}">
            {{ article.data.title }}
          </a>
        </li>
      {% endfor %}
    </ul>
    <h3>Películas</h3>
    <ul>
      {% for article in collections.peliculas %}
        <li>
          <a href="{{article.url}}">
            {{ article.data.title }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </aside>
  {% include "footer.njk" %}
  <script src="/js/main.js" type="module"></script>
</body>
</html>