---
layout: layout-page.njk
title: Página de Acerca
description: Meta descripción de la página de acerca
---

<h1>{{ title }}</h1>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Est consectetur doloribus esse fugit modi quos in at harum quidem, quas tempora iusto laboriosam, praesentium repellat pariatur sint mollitia quasi molestias.
</p>
<img src="/img/eleventy-mascots.avif" alt="Mascotas Eleventy">